*{
font-family: 'Arsenal-Regular';

}
:root{
--main-color:#141414;
--size-fon:calc(1vw + 1vh);
--transition: 1.25s cubic-bezier(.2,.5,0,1);
--transition-cursor:2s cubic-bezier(.05,.5,0,1);


}
@font-face{
font-family: 'Arsenal-Regular';
src: url('../fonts/arsenal-regular.eot'); /* IE 9 Compatibility Mode */
src: url('../fonts/arsenal-regular.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
url('../fonts/arsenal-regular.woff2') format('woff2'), /* Super Modern Browsers */
url('../fonts/arsenal-regular.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
url('../fonts/arsenal-regular.ttf') format('truetype'), /* Safari, Android, iOS */
url('../fonts/arsenal-regular.svg#arsenal-regular') format('svg'); /* Chrome < 4, Legacy iOS */

}
body{

background: -webkit-linear-gradient(47deg, #ffffff,#ffe0ff,#efc1fb);
background: linear-gradient(47deg, #ffffff,#ffe0ff,#efc1fb);
margin: 0;
font-size: 1vw;
margin-top: 1vh;

}


.line{
/*margin-top:7vh;*/
border-bottom:1px solid black;
}




.magic-list
{
display: flex;
flex-direction: column;
width: 94%;

height:auto;
margin-right: auto;
margin-left: auto;
}


.silka{
text-decoration: none;
color: black;
}

.goals {
  counter-reset: num;
  list-style: none;
 margin-right: 1vw;
}

.goals ol {
  list-style-type: decimal-leading-zero;
  }

.goals ol li {
  content: counter(item) '';
  /* Добавляем к числам скобку */
  counter-increment: item;
}

h1 {
/*margin-top: 5vh;*/
margin: 0;
  text-transform: uppercase;
}


#move:hover .move-left{
transform: translate(-40px,0);

}
.object{
transition: all 0.8s ease-in-out;
}


.one{
text-decoration: none;
color: var(--main-color);
margin: 0;
height: 20vh;

}








.one:first-child{
 
}

.magic-list_header{
transition: transform var(--transition);
transition: 1s;
height: 2vh;
}

.one::before{
transition: transform var(--transition);

}
.one:hover .magic-list_header,.one:hover::before{
 padding-left: -30px;
    cursor: none;
transition: transform var(--transition);
transition-delay: .025s;
will-change: transform;
transform: translate3d(calc(var(--index) * -5), 0, 0);
}
.cursor{
transition: transform var(--transition-cursor) height 1s ease;
   position: fixed;
    z-index: -100;
    display: none;
    left: 0;
    top: 0;
    bottom: 1;
    overflow: hidden;
    transform: translate3d(var(--move-x), var(--move-y), 0);
transition: transform var(--transition-cursor), height 1s ease;
will-change: transform;
}
.one:hover .cursor{
display: block;
    transform: translate(var(--move-x),var(--move-y));

}

.one:hover .cursor_image,#image5{
height: 200px;

}

@media screen and (max-width:700px){
body{
/*--move-x: 807px;
--move-y: 226px;*/
font-size: 2vw;
}
}
#image1{
    background-image: url(../img/1.jpg);
}
#image2{
    background-image: url(../img/2.jpg);
}
#image3{
    background-image: url(../img/3.jpg);
}
#image4{
    background-image: url(../img/4.jpg);
}
#image5{
background-image: url(../img/5.jpg);
}
.cursor_image,#image5,#image4,#image3,#image2,#image1{
transition: transform var(--transition-cursor);
width: 400px;
height: 0px;
background-size: cover;
animation: shrink 1s alternate;
animation-fill-mode: both;

}

.one:hover .cursor_image,#image5,#image4,#image3,#image2,#image1{
height: 200px;
transition: scale() 0.75s ease-out;
animation: shrink 1s alternate;
animation-fill-mode: both;
--cursor-transform: translate3d(calc(var(--move-x) / -5), calc(var(--move-y) / -5), 0);
transform: var(--cursor-transform) scale(1.9);
transition: transform var(--transition-cursor);

}
/.one:not(:hover) .cursor_image,#image5,#image4,#image3,#image2,#image1{
animation: shrink 1s alternate;
animation-fill-mode: both;

}
@keyframes shrink{
from{
height: 0px;
}
to{
height: 200px;
}
}
@keyframes shrink-out{
from{
height: 200px;
}
to{
height: 0px;
}
}
